@Html.AntiForgeryToken()
<script>
    var $Page = {
        ProductData : @Html.Raw(@ViewData["ProductData"])
    }
</script>
<div class="container" id="Form">
    <div class="page mt-5 p-5">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-4 main-color01">出貨單建立</h1>
            </div>
        </div>
        <div class="row" id="Form">
            <div class="col-12 col-md-6  mb-3">
                <label>出貨單編號</label>
                <input disabled value="系統自動產生" type="text" class="form-control">
            </div>
            <div class="col-12 col-md-6    mb-3">

                <label>出貨日</label>
                <date-picker class="form-control" placeholder="選擇出貨日" date-format="yy-mm-dd" v-model="DeliveryDate"></date-picker>
                <div>
                    <error-message :errors="Errors['ShipmentOrder.DeliveryDate']"></error-message>
                </div>
            </div>
            <div class="col-12 col-md-6    mb-3">
                <label>出貨地址</label>
                <input class="form-control" placeholder="地址" type="text" v-model="Address" />
                <error-message :errors="Errors['ShipmentOrder.Address']"></error-message>
            </div>
            <div class="col-12 col-md-6   mb-3">
                <label>完成日</label>
                <date-picker class="form-control" placeholder="選擇完成日" date-format="yy-mm-dd" v-model="FinishDate"></date-picker>

            </div>
            <div class="col-12 col-md-6   mb-3">
                <label>總金額(自動計算)</label>
                <input disabled v-model="Total" type="text" class="form-control">
            </div>
            <div class="col-12 col-md-6    mb-3">

                <label>簽收者</label>
                <input v-model="SignName" type="text" class="form-control">
            </div>
            <div class="col-12 col-md-6    mb-3">

                <label>備註</label>
                <textarea class="form-control" v-model="Remarks"></textarea>
            </div>
          
        </div>
    </div>
    <div class="page p-5">
        <div class="row">
            <div class="col-12">
                <div class="text-right mb-3">
                    <button v-on:click="createRow()" type="button" class="btn btn-main-color01">
                        增加一列
                    </button>
                </div>
                <error-message :errors="Errors['OrderDetails']"></error-message>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    (商品編號)商品名稱
                                </th>
                                <th>
                                    價格
                                </th>
                                <th>
                                    數量
                                </th>
                                <th>
                                    備註
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in OrderDetails">
                                <td>
                                    {{index+1}}
                                </td>
                                <td>
                                    <select class="custom-select" v-model="item.ProductId">
                                        <option value="">請選擇</option>
                                        <option v-for="(item, index) in ProductOption" :value="item.Id" :key="item.Id">
                                            ({{item.Number}}){{item.Name}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <span v-text="getProductPrice(item.ProductId)"></span>
                                </td>
                                <td>
                                    <input v-model="item.ProductUnit" type="text" class="form-control" />
                                    <error-message :errors="Errors['ShipmentOrderDetails['+index +'].ProductUnit']"></error-message>
                                </td>
                                <td>
                                    <input v-model="item.ProductRemarks" type="text" class="form-control" />
                                </td>
                                <td>
                                    <button v-on:click="deleteRow(item.index)" type="button" class="btn btn-main-color02 ">
                                        刪除
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12">
                <div class="text-right my-3">
                    <button onclick="window.history.back();" type="button" class="btn btn-main-color02 outline-btn">
                        返回
                    </button>
                    <button v-on:click="createOrder()" type="button" class="btn btn-main-color01">
                        新建訂單
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/Pages/Order/CreateShipmentOrder.js"></script>
}
