@Html.AntiForgeryToken()
@using Microsoft.AspNetCore.Authorization
@using OrderSystem.Authorization
@inject IAuthorizationService AuthorizationService
<script>
    var $Page = {
        Order: @Html.Raw(@ViewData["Order"]),
        OrderDetails : @Html.Raw(@ViewData["OrderDetails"])
    }
</script>

<div class="container" id="Form">
    <div class="page mt-5 p-5">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-4 main-color01">出貨單編輯</h1>
            </div>
        </div>
        <div class="row" id="Form">
            <div class="col-6 mb-3">
                <label>出貨單編號</label>
                <input disabled v-model="Number" type="text" class="form-control">
            </div>
            <div class="col-6  mb-3">

                <label>出貨日</label>
                <date-picker class="form-control" placeholder="選擇出貨日" date-format="yy-mm-dd" v-model="DeliveryDate" ></date-picker>
                <error-message :errors="Errors['ShipmentOrder.DeliveryDate']"></error-message>
            </div>
            <div class="col-6  mb-3">
                <label>出貨地址</label>
                <input class="form-control" placeholder="地址" type="text" v-model="Address" />
                <error-message :errors="Errors['ShipmentOrder.Address']"></error-message>
            </div>
            <div class="col-6  mb-3">
                <label>完成日</label>
                <date-picker class="form-control" placeholder="選擇完成日" date-format="yy-mm-dd" v-model="FinishDate"></date-picker>
            </div>
            <div class="col-6  mb-3">
                <label>總金額(自動計算)</label>
                <input disabled v-model="Total" type="text" class="form-control">
            </div>
            <div class="col-6  mb-3">


                <label>簽收者</label>
                <input v-model="SignName" type="text" class="form-control">
            </div>
            <div class="col-12  mb-3">


                <label>備註</label>
                <textarea class="form-control" v-model="Remarks"></textarea>
            </div>

        </div>
    </div>
    <div class="page p-5">
        <div class="row">
            <div class="col-12">

                <error-message :errors="Errors['OrderDetails']"></error-message>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    (商品編號)商品名稱
                                </th>
                                <th>
                                    價格
                                </th>
                                <th>
                                    數量
                                </th>
                                <th>
                                    備註
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in OrderDetails">
                                <td>
                                    <span v-text="index+1"></span>
                                </td>
                                <td>
                                    (<span v-text="item.ProductNumber"></span>)
                                    <span v-text="item.ProductName"></span>
                                </td>
                                <td>
                                    <span v-text="item.ProductPrice"></span>
                                </td>
                                <td>
                                    <span v-text="item.ProductUnit"></span>
                                </td>
                                <td>
                                    <span v-text="item.ProductRemarks"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12">
                <div class="text-right my-3">
                    <button onclick="window.history.back();" type="button" class="btn btn-main-color02 outline-btn">
                        取消
                    </button>
                    @if ((await AuthorizationService.AuthorizeAsync(User, null, new PermissionAuthorizationRequirement(new string[] { Permissions.Order_Shipment_Modify }))).Succeeded)
                    {
                        <button v-on:click="updateOrder()" type="button" class="btn btn-main-color01">
                            更新訂單
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


        @section Scripts {
            <script src="~/js/Pages/Order/ShipmentOrderEdit.js"></script>
        }
