body {
    font-family: "Noto Sans TC", sans-serif;
    background-color: #fafafa;
    z-index: -2;
    overflow-x: hidden;
    font-size: 1rem;
}
input.form-control{
    background-color: rgba(0, 0, 0, 0.02) !important;
    border: 1px solid #ced4daf3  !important;
}
h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.12rem;
}

.custom-label {
    font-weight: 500;
}
main {
    padding-top: 95px;
    @include media-breakpoint-down(sm) {
        padding-top: 75px;
    }
    min-height: calc(100vh - 0px);
}
.extra-bg {
    position: absolute;
    .dot-4 {
        position: absolute;
        bottom: 0px;
        width: 80px;
        z-index: -1;
        left: calc(36vw);
    }
    .dot-3 {
        position: absolute;
        bottom: 250px;
        width: 160px;
        z-index: -1;
        left: calc(77vw);
    }
    .dot-2 {
        position: absolute;
        bottom: 70px;
        width: 40px;
        z-index: -1;
        left: 10vw;
    }
    .dot-1 {
        position: absolute;
        bottom: 0;
        width: 200px;
        z-index: -1;
        left: 15px;
    }
}
//頁面標題
.page-title {
    color: $main-color01;
    font-weight: bold;
    display: inline-block;
}

.fixed-bottom-bar {
    position: fixed;
    bottom: 0;
    right: 0;
}
// 標題圓圈
.title-circle {
    margin-top: -6.3px;
}

// 日期控制選項
.datepicker {
    z-index: 2000 !important;
}
// NAV TABS
.custom-nav-tabs {
    .nav-link {
        border-radius: 0px;
        background-color: $gray-300;
        &.active {
            background-color: $main-color01;
        }
    }
    border-bottom: 0px;
    a {
        h6 {
            color: $gray-600;
        }
        &.active {
            h6 {
                color: white;
            }
        }
    }
}
//列表
.list-area {
    .table {
        width: 100%;
        display: table;
        @include media-breakpoint-down(sm) {
            border-top: 3px solid $main-color01;
            padding-top: 0;
        }
        .row {
            display: table-row;
            @include media-breakpoint-down(sm) {
                padding: 0.25rem 0;
                display: block;
                border-bottom: 1px solid #dee2e6;
                &:last-child {
                    border: none;
                }
            }
            &.list-header {
                font-weight: bold;
                background-color: red;
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            &.list-body:nth-child(odd) {
                background-color: $gray-100;
                @include media-breakpoint-down(sm) {
                    margin: 0;
                }
                &:hover {
                    background-color: $gray-200;
                }
            }

            &.list-body:nth-child(even) {
                background-color: white;
                @include media-breakpoint-down(sm) {
                    margin: 0;
                }
                &:hover {
                    background-color: $gray-200;
                }
            }

            .cell {
                padding: 0.25rem 0.5rem;
                display: table-cell;
                vertical-align: middle;
                border-bottom: 1px solid $gray-300;

                @include media-breakpoint-down(sm) {
                    padding: 0rem 0.5rem;
                    display: block;
                    border-bottom: none;
                    &:before {
                        content: attr(data-title);
                        font-weight: bold;
                        color: $main-color01;
                        display: inline-block;
                        width: 5rem;
                    }
                }
            }
        }
    }
}
//編輯區塊
.edit-area {
    background-color: #fff;
    .area-title {
        padding: 0.75rem 1rem;
        margin-bottom: 0;
        color: $white;
        background-color: $main-color01;
        border-left: #51859d solid 6.3px;
    }
    .list-area {
        @include media-breakpoint-down(sm) {
            border-top: none;
        }
    }
    .edit-list-btn {
        border-bottom: 1.5px solid $gray-200;
        padding-top: 0.375rem;
        padding-bottom: 0.475rem;
        margin-bottom: 0.2rem;
        a,
        button {
            vertical-align: middle;
        }
    }
}
//資料維護區塊1
.form-area1 {
    background-color: #fff;
    .form-group {
        margin: 0;
        > label {
            background-color: #dee2e6;
            border-left: 2px solid darken(#dee2e6, 50%);
            padding-right: 0.5rem;
            padding-left: 0.25rem;
            text-align: right;
        }
        .custom-radio {
            padding-top: 7.5px;
        }
    }
}
//資料維護區塊2
.form-area2 {
    background-color: white;
    h6 {
        font-weight: bold;
        background-color: $main-color01;
        color: #fff;
        padding: 0.75rem 1rem;
        border-left: #51859d solid 6.3px;
    }
    label {
        padding-right: 0.05rem;
        font-weight: bold;
        @include media-breakpoint-up(md) {
            text-align: right;
        }
    }
    .custom-checkbox {
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
    }
}

// 申請書_身分與產業確認.html
.app-form-check {
    .runtime-img {
        text-align: right;
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
        img {
            height: 220px;
            margin-top: -15px;
            @include media-breakpoint-down(sm) {
                height: 220px;
            }
        }
    }
    .consent-block {
        background-color: #d6d6d6;
        padding-top: 11.5px;
        padding-bottom: 11.5px;
    }
    .consent-modal {
        .content {
            height: 50vh;
            overflow-y: auto;
        }
    }
}

// 錯誤訊息
.error-message {
    color: red;
}

@media (min-width: 1200px){
    .container {
        max-width: 1116px !important;
    }
    }
    
@media (min-width: 1688px){
    .container {
        max-width: 1246px !important;
    }
    }
@media (min-width: 1920px){
    .container {
        max-width: 1656px !important;
    }
}
.search-area{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);

}
.page{
    background-color: white;
}
.navbar-brand{
    color:$main-color01 !important;
    font-weight: bold;
}
table{
 
    background-color: white;
}

.table {
    thead{
        th{
            border-top: transparent;
        }
    }
}

.dashboard{
    .banner{
        background: black;
        min-height: calc(80vh);
    }
    .date-card{
        text-align: center;
        font-size: 25px;
        padding-top: 45px;
        background: white;
        min-width: 100%;
        color: rgb(80, 80, 80);
        font-weight: bold;
        min-height: 100%;
        border: solid 1px #dfdfdf;
    }
    .month-card{
        min-height: 100%;
        padding: 15px;
        background: white;
        min-width: 100%;
        .title{
            font-weight: bold;
            text-align: left;
            color:$main-color01;
        }
        .text{
            font-weight: bold;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            color:black;
            font-size: 35px;
        }
        border: solid 1px #dfdfdf;
    }
    .chart-card{
        min-height: 100%;
        padding: 15px;
        background: white;
        min-width: 100%;
        .title{
            font-weight: bold;
            text-align: left;
            color:$main-color01;
        }
        .text{
            font-weight: bold;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            color:black;
            font-size: 35px;
        }
        max-width: 500px;

        border: solid 1px #dfdfdf;
    }
    .info-card{
        max-width: 500px;
        min-height: 100%;
        padding: 15px;
        background:#FFFDF6;
        min-width: 100%;
        .title{
            font-weight: bold;
            text-align: left;
            color:$main-color01;
        }
        .text{
            font-weight: bold;
            padding-top: 30px;
            padding-bottom: 15px;
            color:black;
        }
        border: solid 1px #dfdfdf;
    }
    .year-card{
        background: #EFEFEF;
        min-width: 100%;
        padding: 15px;
        .title{
            text-align: center;
            color:$main-color01;
            font-weight: bold;
        }
        .text{
            text-align: center;
            color:black;
            font-size: 35px;
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 5px;
        }
    }
    .remarks-card{
        color: #C4C4C4;
    }
}